/*
 RESET
 ===============================================================
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 GLOBALS
 ===============================================================
 */
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-gsq92j');
    src:url('fonts/icomoon.eot?#iefix-gsq92j') format('embedded-opentype'),
        url('fonts/icomoon.woff?-gsq92j') format('woff'),
        url('fonts/icomoon.ttf?-gsq92j') format('truetype'),
        url('fonts/icomoon.svg?-gsq92j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', Arial, sans-serif;
  font-size: 100%;
  text-align: center;
  background: url('img/bg.png');
  color: #28252a;
  -webkit-font-smoothing: antialiased
}
a {
  text-decoration: none;
  color: #28252a;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: 'Exo 2', Arial, sans-serif;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
    margin: 0 0 .5em 0;
}
p {
    margin:
     1em 0;
}
strong {
    font-weight: 700;
}

/*
 ICONS
 ===============================================================
 */
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
    content: "\e600";
}
.icon-github:before {
    content: "\e601";
}
.icon-linkedin:before {
    content: "\e602";
}
.icon-music:before {
    content: "\e603";
}
.icon-hourglass:before {
    content: "\e604";
}
.icon-mobile:before {
    content: "\e605";
}
.icon-paperplane:before {
    content: "\e606";
}
.icon-location:before {
    content: "\e607";
}

/*
 VCARD
 ===============================================================
 */

#vcard {   
  background: #28252a;  
  color: #fff;
  font-weight: 900;
  display: table;
  height: 100%;
  width: 100%;
}
#it-is-my-home {
  display: table-cell;
  vertical-align: middle;
}
#it-is-my-home div {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}
#it-is-my-home div figure,
#it-is-my-home div img {
    float: left;
}
#it-is-my-home div figure {
    margin-left: 30px;
    margin-right: 0;
}
#it-is-my-home div img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;    
    border-radius: 100%;
    margin-top: 2.2em;
    -webkit-box-shadow: -6px 10px 0px #1e1c20;
    -moz-box-shadow: -6px 10px 0px #1e1c20;
    box-shadow: -6px 10px 0px #1e1c20;
}
#it-is-my-home div figure p:nth-child(1) {
  color: #85d0e0;
  font-size: 5.5em;
  line-height: .8em;
  margin: 0 0 0 .1em;
}
#it-is-my-home div figure p:nth-child(1) span {
  float: right;
}
#it-is-my-home div figure p:nth-child(1) span a {
  color: #fff;
  font-size: .7em;
  line-height: .7em;
  -webkit-opacity: .5;
  -moz-opacity: .5;
  opacity: .5;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
#it-is-my-home div figure p:nth-child(1) span a:hover {
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
    text-shadow: -10px 10px 0px #1e1c20;
}
#it-is-my-home div figure p:nth-child(2) {
  font-size: 5.5em;
  line-height: .85em;
  margin: 0 0 0 .6em;
  text-shadow: -14px 14px 0px #1e1c20;
  z-index: 10;
  position: relative;
}
#it-is-my-home div figure p:nth-child(3) {
  color: #6f6f6f;
  font-size: 3.4em;
  line-height: .8em;
  margin: 0;
  z-index: 9;
  position: relative;
}
#it-is-my-home div figure p:nth-child(3) span {
  color: #e0bd85;
  font-size: .42em;
}
@media (max-width: 900px) {
  #vcard {
    font-size: 50%;
  }
  #it-is-my-home div {
    width: 410px;
  }
  #it-is-my-home div figure {
    margin-left: 20px;
  }
  #it-is-my-home div img {
    width: 75px;
    -webkit-box-shadow: -6px 6px 0px #1e1c20;
    -moz-box-shadow: -6px 6px 0px #1e1c20;
    box-shadow: -6px 6px 0px #1e1c20;
  }
  #it-is-my-home div figure p:nth-child(1) span a:hover {
    text-shadow: -4px 4px 0px #1e1c20;
  }
  #it-is-my-home div figure p:nth-child(2) {
    text-shadow: -6px 6px 0px #1e1c20;
  }
}

@media(max-width: 520px) {
    #it-is-my-home div {
        width: 340px;
    }
    #it-is-my-home div img {
        display: none;
    }
}
@media(max-width: 375px) {
    #vcard {
        font-size: 40%;
    }
    #it-is-my-home div {
        width: 300px;
    }
}

/*
 CURRICULUM
 ===============================================================
 */
#curriculum {
    margin: 30px auto 100px auto;
    text-align: left;
    width: 800px;
}
#curriculum section {
    margin-bottom: 3em;
}

#curriculum h2 {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 1.5em;
    padding-bottom: .5em;
}
#curriculum h3 a {
    font-weight: 700;
    padding-bottom: 4px;
    display: inline-block;
}
#curriculum a i {
    color: #bbb;
    -webkit-transition: all .8s ease-in;
    -moz-transition: all .8s ease-in;
    transition: all .8s ease-in;
}
#curriculum a:hover {
    border-bottom: 1px dotted #28252a; 
    padding-bottom: 3px;
}
#curriculum a:hover i {
    color: #FF6952;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#contact {
    text-align: center;
}
#contact p {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 0;
    padding: 1em;
    display: inline-block;
    background: #fff;
    border: 1px solid #eee;
}
#contact h2 {
    text-align: left;
}
#contact span {
    margin-right: .7em;
    white-space: nowrap;
}

#contact span i{
    margin-right: .5em;
    color: #bbb;
}

#skills span {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;    
    padding: .2em .7em;
    line-height: 1em;
    margin-right: .5em;
    color: #fff;
}
#skills small {
    color: #bbb;    
}

#skills .js {
    background: #FFA652;
}
#skills .css {
    background: #FF6952;
}
#skills .html {
    background: #3894A5;
}
#skills .php {
    background: #436FAF;    
}
#skills .misc {
    background: #777;
}

#experience h3 small{
    font-size: .7em;
    font-weight: 400;
    color: #777;
}
#experience article {
    clear: both;
    margin-bottom: 2em;
}
#experience article:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#experience img {
    float: left;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;    
    border-radius: 100%;
    margin-right: 1em;
}
#experience div {
    float: left;
}
#experience p {
    margin-top: 0;
}
#experience p strong {
    color: #3894A5;
}

#experience ul li {
    margin: .7em .3em;    
    font-size: .8em;
}

#hobby h3 i {
    margin-right: .5em;
    font-size: 1.5em;  
    color: #777;      
}
#hobby h3 {
    font-weight: 700;
    margin-bottom: 1.5em;
}
#hobby h3 small {
    font-size: .8em;
    font-weight: 400;    
}

@media (max-width: 900px) {
    #curriculum {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: .8em;
    }
    #experience ul li {
        font-size: .9em;
    }
}
@media (max-width: 710px) {
    #curriculum {
        margin-bottom: 50px;
    }
    #contact p {
        line-height: 1.6em;
    }
    #skills {
        line-height: 1.7em;
    }
    #experience article {
        padding-bottom: 1em;
        border-bottom: 1px dotted #d9d9d9;
    }
    #experience p {
        line-height: 1.5em;
    }
    #experience img {
        display: none;
    }
    #hobby h3 {
        line-height: 1.3em;
    }
}

/*
 FOOTER
 ===============================================================
 */
 footer {
    padding: 50px 0;
    background: #28252a;  
    color: #666;
 }
 #clause {
    width: 800px;
    margin: 0 auto;
 }

 @media (max-width: 900px) {
    footer {
        padding: 2em 0;
    }
    #clause {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: .8em;
        line-height: 1.5em;        
    }
}
@media (max-width: 710px) {
    #clause {
        font-size: .6em;
    }
}